@using eTickets.Data.ViewModels; 
@model LoginVM;

@{ 
    ViewData["Title"] = "Log in to your account";
}
<body style="background-image: url('/images/background.jpg');background-size: cover;background-position: center;background-repeat: no-repeat;">
    <div class="row">
        <div class="col-md-6 offset-3">
            <p>
                <h4 style="color:white">Log in to your account</h4>
            </p>
    
            @if(TempData["Error"] != null)
                {
                    <div class="col-md-12 alert alert-danger">
                        <span><b>Sorry!</b> - @TempData["Error"] </span>
                    </div>
                }
    
            <div class="row">
                <div class="col-md-8 offset-2">
                    <form asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
                        <div class="form-group">
                            <label asp-for="EmailAddress" class="control-label" style="color:white"></label>
                            <input asp-for="EmailAddress" class="form-control" />
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label" style="color:white"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
    
                        <div class="form-group">
                            <input class="btn btn-danger float-right" type="submit" value="Log in" />
                            <a class="btn btn-primary" asp-controller="Movies" asp-action="Index">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>